.footer {
  bottom: 0;
  left: 0;
  z-index: 1001;
  height: 30vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  color: #9fa4dd;
  padding: 80px 0 0 0;
  background: -webkit-linear-gradient(-75deg, #1b1461 35%, #361b6b 80%);
  & p {
    line-height: 25px;
  }
}

.footer-container {
  height: 100%;
  bottom: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.footer-col {
  flex: 0 0 auto;
  width: 15%;
}

.footer-widget {
  margin-bottom: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  text-align: left;
  & ul {
    list-style: none;
    text-align: left;
  }
  & a {
    text-decoration: none;
    line-height: 25px;
    width: 100%;
    color: #9fa4dd;
    line-spacing: 5px;
  }
  & h3 {
    text-align: left;
    color: white;
  }
}

.footer-logo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  & img {
    width: 200px;
  }
}
