$filterGray: #ccc;

.explore-container {
  display: flex;
  justify-content: center;
  min-height: 120px;
  padding-top: 140px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 2px 9px #04d3;
  box-shadow: 0 2px 9px #04d3;
  background-color: white;
  & h1 {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    background: -webkit-linear-gradient(
      -250deg,
      #9a58c3 20%,
      #4156f6,
      #48dbd9 88%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.explore-items {
  width: 70%;
}

.banner-items {
  flex: 0 0 auto;
  width: 100%;
}

.banner-search-container {
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
  & h4 {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: -webkit-match-parent;
    color: #a4a4a4;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    z-index: 50000;
    display: block;
  }
}

.banner-search {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
  & input {
    background: 0 0;
    padding: 7px 20px;
    width: 350px;
    border: solid 1px #ddd;
    border-right: none;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #fff;
  }
}

.banner-search-icon {
  width: 60px;
  text-align: center;
  padding: 7px 0;
  border-radius: 0 50px 50px 0;
  background-color: #46ffd7;
  border: 1px solid #ddd;
  color: #fff;
  cursor: pointer;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.switches-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.filters-switch {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  margin: 0 5px 0 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: $filterGray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input + .slider {
  box-shadow: 0 0 0 1px $filterGray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.filters-group {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter {
  display: flex;
  white-space: nowrap;
  flex-shrink: 0;
  width: 150px;
  margin: 0 10px 0 10px;
  align-items: center;
  padding: 5px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.nft-container {
  max-width: 80%;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  color: #9fa4dd;
  padding: 80px 0 0 0;
  background: -webkit-linear-gradient(-75deg, #1b1461 35%, #361b6b 80%);
  & p {
    line-height: 25px;
  }
}

.footer-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer-col {
  flex: 0 0 auto;
  width: 15%;
}

.footer-widget {
  margin-bottom: 30px;
  padding-bottom: 30px;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  & ul {
    list-style: none;
    text-align: left;
  }
  & a {
    text-decoration: none;
    line-height: 25px;
    width: 100%;
    color: #9fa4dd;
    line-spacing: 5px;
  }
  & h3 {
    text-align: left;
    color: white;
  }
}

.footer-logo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  & img {
    width: 200px;
  }
}

@media (max-width: 1600px) {
  .switches-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
}
