.explore-container {
  display: flex;
  justify-content: center;
  min-height: 120px;
  padding-top: 140px;
  margin-bottom: 60px;
  background-color: white;
  & h1 {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    background: -webkit-linear-gradient(
      -250deg,
      #9a58c3 20%,
      #4156f6,
      #48dbd9 88%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.explore-items {
  width: 70%;
}

.banner-items {
  flex: 0 0 auto;
  width: 100%;
}

.banner-search-container {
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
  & h4 {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: -webkit-match-parent;
    color: #a4a4a4;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    z-index: 50000;
    display: block;
  }
}

.banner-search {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
  & input {
    background: 0 0;
    padding: 7px 20px;
    width: 350px;
    border: solid 1px #ddd;
    border-right: none;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #fff;
  }
}

.banner-search-icon {
  width: 60px;
  text-align: center;
  padding: 7px 0;
  border-radius: 0 50px 50px 0;
  background-color: #46ffd7;
  border: 1px solid #ddd;
  color: #fff;
  cursor: pointer;
}

.filter-container {
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.switches-group {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  & input {
    margin-top: 0;
    margin-right: 8px;
    width: 45px;
    height: 25px;
  }
}
